* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #f6f7f8;
    padding: 0 30px;
    line-height: 1.15;
    nav {
        padding: 15px 0;
        a {
            color: #666666;
            font-size: 14px;
            font-weight: 300;
            text-decoration: none;
            margin-right: 24px;
            &:hover {
                text-decoration: underline;
            }
        }
        #Karyera {
            color: #0056c1;
            display: inline-block;
            font-weight: 500;
            padding: 6px 12px;
            border: 1.5px solid #0056c1;
            border-radius: 40px;
            transition: .4s;
            &:hover {
                color: #ffffff;
                background-color: #0056c1;
                text-decoration: none;
            }
        }
    }
    p {
        color: #666666;
        font-size: 14px;
        font-weight: 300;
        padding: 0 8px;
        margin-bottom: 0;
        .fa-magnifying-glass {
            color: #bbbbbb;
            font-size: smaller;
            margin-right: 8px;
        }
        .fa-phone {margin-right: 4px;}
        
    }
    .active {
        .fa-amagnifying-glass {
            color: #0073ff;
        }
        span {
            color: #0056c1;
        }
    }
}
#SearchBar {
    input {
        color: #9f9f9f;
        font-size: 18px;
        font-weight: 300;
        height: 75px;
    }
}
@media screen and (min-width: 992px) {
    input {
        font-size: 40px;
        height: 140px;
    }
}